<%= simple_form_for [@venue, @space] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :name %>
    <%= f.input :capacity %>
    <%= f.input :photo, as: :file %>
    <div class="flex justify-end">
      <%# <%= link_to 'Add Space', venues_path(@venue), class:'py-2 px-4 no-underline bg-blue-200 text-blue-900 rounded-md' %> %>
    <%= f.button :submit %>
    </div>

<% end %>
