 <div class="w-full flex mb-4 p-2 rounded-2xl hover:bg-gray-100">
  <div class="p-2 pl-4 flex flex-col justify-between flex-grow-1">
    <div class="flex justify-between">
      <div>
        <h2 class="text-xl mt-1"><%= space.name %></h2>
        <h3 class="text-xs px-2 py-1 bg-blue-200 text-blue-600 inline rounded-md"><%= space.capacity %></h3>

        <% if space.photo.attached? %>
        <%= cl_image_tag space.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>
    <div class="flex justify-end">
      <%= link_to 'Book the slot', new_space_booking_path(space), data: {turbolinks:"false"}, class:'py-2 px-4 no-underline bg-yellow-200 text-yellow-900 rounded-md' %>
      <%= button_to 'Delete space', space_path(space), method: :delete, data: { confirm: "Are you sure you want to delete space?"}, class:'py-2 px-4 no-underline bg-yellow-200 text-yellow-900 rounded-md' %>
    </div>
  </div>
 </div>
