<section>
  <div class="container mx-4">
    <div class="flex m-4 justify-center pb-2">
      <div class="flex-col bg-white p-8 rounded-md">
        <h1 class="text-xl">Choose your date and time</h1>
            <% start_time = 9 %>
            <div data-controller="booking">
              <table class="booking-grid">
                <%= simple_form_for ([@space, @booking]) do |f| %>
                <div class="d-flex justify-between py-2">
                  <div class="flex-col px-2">
                    <%= f.input :start, as: :string, input_html: {data: {booking_target:'start'}} %>
                  </div>
                  <div class="flex-col px-2">
                    <%= f.input :finish, as: :string, input_html: {data: {booking_target:'finish'}} %>
                  </div>
                  <div class="flex-col px-2">
                    <%= f.submit class: 'w-full align-middle bg-blue-300 rounded-md py-2 px-8 flex items-center justify-center text-base font-medium text-blue-900 hover:text-blue-800 hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-blue-500' %>
                  </div>
                </div>
            <% end %>

            <div class="container" >
                <div class="space">

                    Week:
                    <%= link_to 'Prev', new_space_booking_path(@space, week_start: @monday - 7.day), data: {turbolinks:"false"} %>
                    |
                    <%= link_to 'Next', new_space_booking_path(@space, week_start: @monday + 7.day), data: {turbolinks:"false"} %>
                </div>

                <tr style="text-align:center">
                    <td></td>
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                    <td>Thu</td>
                    <td>Fri</td>
                </tr>

                <tr>
                    <td></td>
                    <% 5.times do |index_day| %>
                      <td style="text-align:center"><%= (@monday + index_day).strftime('%d/%m') %></td>
                    <% end %>
                </tr>

                <% 8.times do |index_hr| %>
                  <tr>
                    <td class="relative w-16 text-xs text-gray-600" >
                      <h4 class="absolute top-0 transform -translate-y-1/2 "><%= @monday.change({hour: 9 + index_hr}).strftime("%l %p")%></h4>
                    </td>
                      <% 5.times do |index_day| %>
                          <% start = (@monday + index_day.days).change({ hour: start_time + index_hr + 1 }) %>
                          <%# finish = start + 1.hour %>
                          <%# bookings_num = @space.bookings.where('start < :start and finish', start: start, finish: finish).count %>

                          <td><div id="1d" data-action="click->booking#selectDateTime" data-datetime="<%= start %>">
                          </div></td>
                      <% end %>
                  </tr>
                <% end %>
                  <tr>
                    <td class="relative w-16 text-xs text-gray-600">
                      <h4 class="absolute top-0 transform -translate-y-1/2 "><%= @monday.change({hour: 17}).strftime("%l %p") %></h4>
                    </td>
                </tr>
            </div>
          </table>

            <% end %>
             <tr>
                <td class="relative w-16 text-xs text-gray-600">
                    <h4 class="absolute top-0 transform -translate-y-1/2 "><%= @monday.change({hour: 17}).strftime("%l %p") %></h4>
                </td>    
            </tr>
            <td>
              </td>
        </div>
      </div>
    </div>
  </div>
</section>
