
 <div class="w-full flex mb-4 p-2 rounded-2xl hover:bg-gray-200">
  <div class="overflow-hidden rounded-xl flex-shrink-0 h-36 w-36 border-2 border-white shadow">
    <%= cl_image_tag(venue.photos.first.key, width: 300, height: 300, crop: :fill) if venue.photos.attached? %>
  </div>
  <div class="p-2 pl-4 flex flex-col justify-between flex-grow-1">
    <div class="flex justify-between">
      <div>

        <h2 class="text-xl mt-1"><%= venue.name %></h2>
      </div>
      <div>
        <h4 class="text-lg font-semibold"><%= venue.address %></h4>
      </div>
    </div>
     <div class="flex justify-end flex-col ">
      <%= link_to 'Book the space', venue_path(venue), class:'text-white py-1 px-6 focus:outline-none hover:bg-blue-600 rounded-md text-lg bg-gradient-to-t from-blue-900 via-blue-600 to-blue-500' %>
      <%= link_to 'Edit Venue', venue_path(venue), class:'text-white py-1 px-6 focus:outline-none hover:bg-blue-600 rounded-md text-lg bg-gradient-to-t from-blue-900 via-blue-600 to-blue-500' %>
      <%= button_to 'Delete Venue', venue_path(venue), method: :delete, data: { confirm: "Are you sure you want to delete Venue?"}, class:'text-white py-1 px-6 focus:outline-none hover:bg-blue-600 rounded-md text-lg bg-gradient-to-t from-blue-900 via-blue-600 to-blue-500' %>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
        <%= button_to 'Delete', venue_path(venue), method: :delete, data: { confirm: "Are you sure you want to delete Venue?"}%>
      </span>
    </div>
  </div>
 </div>
