<div style="height: calc(100vh - 70px)">

    <div class="p-10 text-white">
      <h1><%= @venue.name %></h1>
      <div class="d-flex">
        <div>
         <%= cl_image_tag(@venue.photos.first.key, :cloud_name => 'swethapattanshetty', height: 300, width: 400, crop: :fill) %>
        </div>
        <div>
         <% if @venue.photos.second.present? %>
          <%= cl_image_tag(@venue.photos.second.key, :cloud_name => 'swethapattanshetty', height: 300, width: 200, crop: :fill) %>
         <% end %>
         <% if @venue.photos.third.present? %>
          <%= cl_image_tag(@venue.photos.third.key, :cloud_name => 'swethapattanshetty', height: 300, width: 200, crop: :fill) %>
         <% end %>
        </div>
      </div>
      <% @spaces.each do |space| %>
        <%= render 'spaces/space', space: space %>

      <% end %>
    </div>

</div>
