<section class="bg-white">
  <div class="container mx-auto">
    <div class="sm:px-8 sm:py-6 md:py-10">
      <div class="relative z-10 pb-3 sm:bg-none">
        <h2 class="text-xl font-semibold font-sans text-gray-900 sm:text-2xl sm:leading-7 sm:text-black md:text-3xl">99 Designs</h2>
        <div class="col-start-1 row-start-2 font-sans">
          <div class="flex items-left justify-between text-sm font-medium sm:mt-2 sm:mb-2">
            <div class="flex">
              <svg width="20" height="20" fill="currentColor" class="text-blue-700">
                <path d="M9.05 3.691c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.372 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.539 1.118l-2.8-2.034a1 1 0 00-1.176 0l-2.8 2.034c-.783.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.363-1.118l-2.8-2.034c-.784-.57-.381-1.81.587-1.81H7.03a1 1 0 00.95-.69L9.05 3.69z"></path>
              </svg>
              <div class="ml-1">
                <span class="text-gray-900">4.94</span>
                <span class="sm:hidden md:inline">(28)</span>
              </div>
              <div class="text-base font-normal mx-2">·</div>
              <p class="text-sm font-medium text-gray-700 sm:mb-1">Richmond, Victoria, Australia</p>
            </div>
            <div class="flex justify-end">
              <a class="py-1 px-2 no-underline border text-blue-900 rounded-md" href="/venues/3/spaces/new">+ New Space</a>
            </div>
          </div>


      <div class="w-full h-96 grid grid-cols-3 grid-rows-2 gap-2">
        <div class="relative col-span-3 row-span-2 md:col-span-2">
          <div class="absolute inset-0 w-full h-full object-cover bg-gray-100 sm:rounded-md">
          </div>
          <% if @venue.photos.first.present? %>
            <img src="<%= cl_image_path @venue.photos.first.key %>" alt="" class="absolute inset-0 w-full h-full object-cover bg-gray-100 sm:rounded-md">
          <% end %>
        </div>

        <div class="relative hidden md:block">
        <% if @venue.photos.first.present? %>
          <img src="<%= cl_image_path @venue.photos.second.key %>" alt="" class="absolute inset-0 w-full h-full object-cover rounded-md bg-gray-100">
        <% end %>
        </div>
        <div class="relative hidden md:block">
        <% if @venue.photos.first.present? %>
          <img src="<%= cl_image_path @venue.photos.third.key %>" alt="" class="absolute inset-0 w-full h-full object-cover rounded-md bg-gray-100">
        <% end %>
        </div>
      </div>

  </div>
</section>

<%# CHECK AVAILABILITY %>
  <%# <div class="col-start-1 row-start-3 space-y-3 px-4">
    <button type="button" class="bg-violet-100 text-violet-700 border-2 border-white text-base font-semibold px-6 py-2 rounded-lg">Check availability</button>
  </div> %>


<%# SPACES %>
<section class="bg-white text-gray-600 body-font">
  <div class="container px-5 pb-24 mx-auto flex">
  <%# SPACE CARDS %>
    <div class="w-1/2">
      <div class="-m-6">
        <% @venue.spaces.each do |space| %>
          <%= render 'spaces/space', space: space %>
        <% end %>
      </div>
    </div>

  <%# MAP %>
  <%# <div class="block px-5 pb-24 mx-auto flex"> %>
    <div class="w-1/2">
      <div class="relative pl-2 sticky top-4">
        <%# <%= render 'venues/venue', venue: venue %>
        <div id="map"
        class="rounded-xl"
          style="width: 100%; height: 600px;"
          data-markers="<%= [{lat: @venue.latitude, lng: @venue.longitude}].to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
    <%# </div> %>
  </div>
</section>
