<!DOCTYPE html>
<html>
  <head>
    <title>OfficeConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_pack_tag 'application' %>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </head>

  <body class="bg-gray-800">
    <%= render 'shared/navbar' %>
    <div class="rounded-b-3xl pb-10 bg-gray-800">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
